.jobBox {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: 0 auto;
}

.jobTitleWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.jobTitleItem {
    flex: 25%;
}

.imgJob {
    justify-content: center;
    align-items: center;
    max-height: 40px;
    max-width: 40px;
}

.jobArchievementText {
    font-size: 0.9rem
}