.myWorksBox {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-basis: border-box;
    border: 1px solid;
}

.myWorkTitle {
    align-content: center
}

.imgWork {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
}