.portfolioWrapper {
    color: black;
    background-color:grey;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid;
    margin: 0 auto;
    padding: 20px;
}

.img {
    height: 200px;
}

.worksWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
