.skillsBoxForAll {
    color: black;
    background-color:lightslategray;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-basis: border-box;
}

.skillBoxForSkills {
    color: black;
    background-color:lightslategray;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    flex-basis: border-box;
}

.skillTitle {
    align-content: center;
    alignment: center;
    border: 1px solid;
}
