.skillsBoxWrapper {
    width: 80%;
    color: black;
    background-color:lightslategray;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: border-box;
    margin: 0 auto;
}

.skillBoxForSkills {
    color: black;
    background-color:lightslategray;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    flex-basis: border-box;
    flex-wrap: wrap;
}

.skillTitle {
    justify-content: center;
    display: flex;
    border: 1px solid;
}
