.resume {
    color: black;
    background-color:lightslategrey;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    word-wrap: normal;
    border: 1px solid;
}