.header {
    color: black;
    background-color:darkolivegreen;
    box-sizing: border-box;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-basis: border-box;
    justify-content:right;
    align-items: center;
}