.contactsWrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-basis: border-box;
    justify-content:space-evenly;
    color: black;
    padding: 20px;
}

.logoContact {
    height: 50px;
    min-width: 50px;
}