.contactsWrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-basis: border-box;
    justify-content:space-evenly;

    flex-basis: border-box;
    color: black;
    padding: 20px;
}