.aboutMe {
    color: black;
    background-color:darkgray;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    word-wrap: normal;
}

.img {
    height: 200px;
    border-radius: 50%;
}